body {
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.frontImg {
    width: 800px;
    height: 100%;
    align-self: center;
}

button {
    border: none;
    height: 40px;
    width: 170px;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.welcome {
    font-size: 3rem;
    font-style: italic;
}